<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script>
        $(function() {
            $('.tooltip').tooltip();
        });
    </script>
    <style>
        .nowrap {
            white-space:nowrap;
        }
    </style>
</head>
<body id='bodyWrap'>

<fieldset>
    <legend>統計 CDR</legend>
</fieldset>

<% if (resp) { %>
<h3>搜尋結果</h3></br>
<% if (resp.length == 0) { %>
<h4> 查無資料!</h4>
<% } else /*if (resp.length < 20)*/{%>
<h4> 回傳 : <%= totalcount %>筆資料,  顯示前 <%= resp.length %> 筆</h4>
</br></br></br>
<table class="table table-striped table-hover table-condensed table-header-rotated container nowrap">
    <caption></caption>
    <thead>
    <tr>

        <th id="000">#</th>
        <%
            var keys = [];
            for(var k in resp[0]) keys.push(k);

        for(var k in keys){
        %>
        <th class="rotate-45"><div><span><%= keys[k] %></span></div></th>
        <%}%>

    </tr>

    </thead>
    <tbody>
    <% var i=1; %>
    <% resp.forEach( function(body){ %>
    <tr>
        <td id="#"><%= i++ %></td>

        <%
        for(var k in keys){
        %>
        <td id="kv">
            <%#  if(typeof(body[''+keys[k]])=='number'&&((body[''+keys[k]])>0)){ //%>

            <% if(keys[k].search('重複')>0){ %>
            <% }else if(keys[k].search('鐘')>0 && ((body[''+keys[k]])>0)){ %>
                        <%= (body[''+keys[k]]).toFixed(4) %>
            <% }else{ %>
                    <a href="#" data-toggle="tooltip" title="first tooltip" class="tooltip">n</a>
                    <%= body[''+keys[k]] %>
            <% } %>
        </td>
        <%}%>

    </tr>
    <% }); %>
    </tbody>
</table>
<% } %>
<% } else { %>
<!--<h3>總量 : <%= totalcount %>筆資料</h3>-->
<% } %>

</body>
</html>